{:web-server
 {:port      #long #or [#env PORT 5757]
  :host-name #join ["http" "://" "localhost"
                    ":" #ref [:port]]}

 :ig/system
 {:wiz.blog.api.core/string "Hello, api!"

  :edge.yada.ig/listener
  {:handler #ig/ref :edge.bidi.ig/vhost
   :port    #ref [:port]}

  :edge.bidi.ig/vhost
  [[#ref [:web-server :host-name]
    [""
     [["/" #ig/ref :wiz.blog.api.core/string]]]]]}}
