{:ig/system
 {:wiz.blog.api.core/string "Hello, api!"

  :wiz.blog.api.core/fcom #ig/ref :wiz.blog.api.core/fcom-wrapped
  :wiz.blog.api.core/fcom-wrapped {:origin [1 2 3]
                                   :wrap-with ["###  " "  ###"]}

  :edge.yada.ig/listener
  {:handler #ig/ref :edge.bidi.ig/vhost
   :port    5757}

  :edge.bidi.ig/vhost
  [["http://localhost:5757"
    [""
     [["/" #ig/ref :wiz.blog.api.core/string]
      ["/fcom" #ig/ref :wiz.blog.api.core/fcom]]]]]}}
