{:web
 {:port     #long #or [#env PORT 5757]
  :protocol #or [#env PROTOCOL "http"]
  :host     #or [#env HOST "localhost"]}

 :db
 {:dbtype   "postgresql"
  :user     #or [#env DB_USER "vladkotu"]
  :password #or [#env DB_PASSWORD "pwd123"]
  :dbname   #or [#env DB_NAME "blog_db"]
  :port     #long #or [#env DB_PORT 54320]
  :host     #or [#env DB_HOST "localhost"]}

 :ig/system
 {:wiz.blog.api.db/db-spec #ref [:db]

  :wiz.blog.api.core/root  "Hello, api!"
  :wiz.blog.api.core/books #ig/ref :wiz.blog.api.db/db-spec
  :wiz.blog.api.core/book #ig/ref :wiz.blog.api.db/db-spec

  :wiz.blog.api.core/routes
  {:port #ref [:web :port]
   :basePath "v1/"
   :routes
   [["v1"
     [["/" [["" #ig/ref :wiz.blog.api.core/root]
            ["books" #ig/ref :wiz.blog.api.core/books]
            [["books/" :id] #ig/ref :wiz.blog.api.core/book]]]]]]}

  :edge.yada.ig/listener
  {:handler #ig/ref :edge.bidi.ig/vhost
   :port    #ref [:web :port]}

  :edge.bidi.ig/vhost
  [[#join [#ref [:web :protocol] "://" #ref [:web :host] ":" #ref [:web :port]]
    ["/" #ig/ref :wiz.blog.api.core/routes]]]}}
